<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <%= user.avatar%>
        <br>
        <%= user.lastname%>
        <br>
        <%= user.firstname%>
        <br>
        <%= user.email%>
        <br>
        <%= user.phone%>
        <br>
        <%= user.role%>
        
        
    </header>
    <script>
        token = <%-token %>
            console.log(token)
        this.postMessage(token, "*")

        window.addEventListener("message", receiveMessage, false);

        function receiveMessage(evt) {
            console.log(evt)
            if (event.origin !== "localhost:3000")
                return;

            // ...
        }
    </script>
</body>

</html>